# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
bin/
lib/
lib64/
share/
pyvenv.cfg

# Data (on commit pas les données brutes pour l'instant)
data/*.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs and Debug
*.log
*.txt
!requirements.txt
!README.md
!*LICENSE*

# Power BI temp files
*.tmp
*.pbix.tmp
.env
lib64
